/Assets/eWolf/* linguist-vendored
/Assets/eWolf/Sci-Fi_Objects_Pack1/* linguist-vendored
/Assets/eWolf/Sci-Fi_Objects_Pack1/Docs/* linguist-vendored
/Assets/eWolf/Sci-Fi_Objects_Pack1/Docs/Sci-Fi_Objects_Pack1.rtf linguist-vendored